body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    background-color: #383e4c;
    width: 100%;
    justify-content: space-evenly;
}

nav > ul {
    display: flex;
    gap: 1rem;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

nav ul li a {
    display: block;
    padding: 0.6rem 1rem;
    text-decoration: none;
    background-color: #383e4c;
    border: solid 1px white;
    border-radius: 0.5rem;
    color: white;
    &:hover,
    &.active {
        background-color: #4b5265;
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('layout-01-assets/img11.jpg');
    background-repeat: no-repeat;
    height: 30vh;
}

header > h1, header > p {
    color: white;
}

.Space1 {
    max-width: 980px;
    margin: 2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Card {
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(237, 237, 237);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.Card > p, .Card > h3{
    margin: 0.5rem 1rem;
}

.Button {
    display: flex;
    justify-content: center;
    border: solid 1px black;
    border-radius: 3px;
    text-decoration: none;
    width: max-content;
    align-self: center;
    color: black;
    padding: 5px;
}

.one-third {
    flex-basis: 32%;
}  

.one-quarter {
    flex-basis: 24%;
}

.green {
    background-color: green;
    color:  white;

}

.blue {
    background-color: blue;
    color:  white;

}

.red {
    background-color: darkred;
    color:  white;

}

.First {
    order: 1;
}

.Second {
    order: 2;
}

.Third {
    order: 3;
}

.left {
    order: 4;
}

.right {
    order: 5;
}

.Banner {
    width: 100%;
}